.arrowSvg {
    width: 6vw;
    max-width: 40px;
    height: auto;
}

.arrow {
    position: fixed;
    top: 50%;
    z-index: 1;
    transition: all .25s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.left {
    animation: wiggle-left 3s ease alternate infinite;
}

.right {
    animation: wiggle-right 3s ease alternate infinite;
}

@keyframes wiggle-left {
    0% {
        transform: translate3d(0, -50%, 0);
    }

    95% {
        transform: translate3d(0, -50%, 0);
    }

    100% {
        transform: translate3d(-2vw, -50%, 0);
    }
}


@keyframes wiggle-right {
    0% {
        transform: translate3d(0, -50%, 0);
    }

    95% {
        transform: translate3d(0, -50%, 0);
    }

    100% {
        transform: translate3d(2vw, -50%, 0);
    }
}

.slider {
    display: flex;
}

.slide {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
}

.slideContent {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

:global .remove {
    position: absolute;
    top: 0;
}

.rtl .slide {
    animation: rtl .5s ease
}

.ltr .slide {
    animation: ltr .5s ease;
}

.rtl :global .remove {
    left: -100vw;
}

.ltr :global .remove {
    right: -100vw;
}

@keyframes rtl {
    from {
        transform: translate3d(100vw, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ltr {
    from {
        transform: translate3d(-100vw, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}