.header {
    font-weight: bold;
}

.title .name {
    padding: 0 .5em;
    font-size: 8vw;
}

.title .company {
    padding: 0 .5em;
    font-size: 6vw;
}

.title div {
    white-space: nowrap;
    text-align: center;
}

@media (min-width: 568px) {
    .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title .name, .title .company {
        padding: .5em;
        font-size: 5vw;
    }
}

.portfolio {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    overflow: hidden;
}

.content {
    position: relative;
    flex-grow: 1;
    display: flex;
}

.footer {
    text-align: right;
    margin-top: 1rem;
    padding: 4px;
    font-size: 11px;
    color: #567;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper {
    margin-right: 1rem;
}

.logo {
    height: 50px;
    width: auto;
    margin: 0;
}

@media (max-width: 320px) {
    .logo {
        height: 40px;
    }
}

.name {
    font-size: 32px
}

.date {
    color: #999;
}

.roles {
    margin: 1rem 0;
    font-size: 125%;
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.role {
    color: #333;
}
